<md-dialog class="uploadForm" ng-controller="uploadCtrl">
    <form method="post" ng-submit="goUploadFile()" id="uploadForm" enctype="multipart/form-data">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Upload</h2>
            </div>
        </md-toolbar>

        <!--주문내역 라디오 버튼 -->
        <md-radio-group ng-model="sourceType" name="sourceType" ng-show="uploadRadioShow">

            <md-radio-button value="e">EC모니터 Data</md-radio-button>
            <md-radio-button value="s">세영 Data</md-radio-button>

        </md-radio-group>
        <!--주문내역 라디오 버튼 -->

        <md-dialog-content>
            <p class="">* 엑셀파일 한개만 선택 등록 가능합니다.</p>
            <input type="file" name="uploadFile" required>
        </md-dialog-content>



        <md-dialog-actions layout="row">
            <md-button type="submit">
                Upload
            </md-button>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
    <div class="upload_loading_warp" ng-show="uploadLoadingshow">
        <md-progress-circular class="md-warn md-hue-3" md-diameter="40px" ></md-progress-circular>
    </div>
</md-dialog>




<style>
    md-radio-button{display:inline;}
    md-radio-group{text-align: center;padding-top: 10px;font-size: 13px;}
</style>