<md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
        <div>
            <md-menu>
                <md-button class="md-icon-button" ng-click="headerCtrl.openMenu($mdOpenMenu,$event)">
                    <md-icon class="material-icons" >menu</md-icon>
                </md-button>

                <md-menu-content width="4" class="md-menu-content">
                    <md-menu-item>
                        <md-button href="#/chart">
                            Chart
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button href="#/list">
                            List
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button href="#/upload">
                            Upload
                        </md-button>
                    </md-menu-item>
                </md-menu-content>

            </md-menu>
        </div>
        <span>TRNT</span>
    </h2>
</md-toolbar>

